server:
  port: 8080

spring:
  datasource:
    url: ${DB_URL:jdbc:mariadb://localhost:3306/aidiary}
    username: ${DB_USERNAME:root}
    password: ${DB_PASSWORD:root}
    driver-class-name: org.mariadb.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MariaDBDialect
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui/index.html

jwt:
  secret: your-secret-key-here
  expiration: 86400 # 24시간

logging:
  level:
    root: INFO
    org.aidiary: DEBUG
  file:
    name: /var/log/aidiary/aidiary.log # Docker 환경을 고려한 경로

file:
  upload-dir: /uploads/ # Docker에서 볼륨 경로 매핑 필요

cors:
  allowed-origins: ${CORS_ALLOWED_ORIGINS:http://localhost:3000,http://localhost:3001,http://localhost:3002,https://aidiary.shop}
api:
  flask:
    url: http://face-api:5001
